@import url('https://fonts.googleapis.com/css2family=DM+Serif+Display:ital@1&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
  /*Primary and Secondary Colors as variables
  In case I want to change later */
  --primary-glow: #FAF;
  --secondary-glow: #0FF;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.primaryGlow {
  text-shadow:
    0 0 7px #FFF,
    0 0 14px #FFF,
    0 0 21px var(--primary-glow),
    0 0 42px var(--primary-glow);
}

.primaryGlowBox {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem var(--primary-glow),
              0 0 0.8rem var(--primary-glow),
              0 0 2.8rem var(--primary-glow),
              inset 0 0 1.3rem var(--primary-glow);
}

.primaryColor {
  color: var(--primary-glow);
}

.secondaryColor {
  color: var(--secondary-glow);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

#navbar li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, .currentPage {
  text-shadow:
    0 0 7px #FFF,
    0 0 10px #FFF,
    0 0 21px var(--secondary-glow),
    0 0 42px var(--secondary-glow);
}

.currentPage {
  text-decoration: underline;
}

#body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 2% 10%;
  overflow-y: auto;
}

h1:not(:first-child) {
  margin-top: 1.5em;
}

#powerButton {
  height: 64px;
  width: 64px;
}

#powerDemo {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#contactform {
  box-sizing: border-box;
  padding: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  flex: 50%;
  padding: 0 16px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  resize: vertical;
}

input[type="submit"] {
  width: 100%;
  background: transparent;
  color: var(--primary-glow);
  border: 1px solid var(--primary-glow);
  box-shadow: 0 0 5px var(--primary-glow), 0 0 5px var(--primary-glow) inset;
}

input[type="submit"]:hover {
  color: var(--secondary-glow);
  border: 1px solid var(--secondary-glow);
  box-shadow: inset 0 0 10px var(--secondary-glow), 0 0 20px var(--secondary-glow) inset, 0 0 20px var(--secondary-glow) inset;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}